/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 May, 2016, 7:12:46 AM
    Author     : Leela
*/



.login_page {
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    
}



